In [1]:
# import libraries
import pandas as pd
import numpy as np
import json

In [2]:
# load data
df = pd.read_csv('desafio1.csv')

In [3]:
# data frame first entries
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [4]:
# data frame dimensions
df.shape

(7000, 12)

In [5]:
# check null values
df.isnull().sum()

RowNumber                   0
id                          0
sobrenome                   0
pontuacao_credito           0
estado_residencia           0
genero                      0
idade                       0
nivel_estabilidade          0
saldo_conta                 0
numero_produtos             0
possui_cartao_de_credito    0
membro_ativo                0
dtype: int64

In [6]:
#  number of entries by states
df['estado_residencia'].value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

In [7]:
# statistics of column pontuacao_credito
df['pontuacao_credito'].describe()

count    7000.000000
mean      649.787000
std        97.046279
min       350.000000
25%       582.000000
50%       651.000000
75%       717.000000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [8]:
# select rows to new df based in state
sc = df[df['estado_residencia']=='SC']
rs = df[df['estado_residencia']=='RS']
pr = df[df['estado_residencia']=='PR']

In [9]:
# saving values in variable state
state ={"SC": {"moda": float(sc['pontuacao_credito'].mode()[0]),
               "mediana": sc['pontuacao_credito'].median(), 
               "media": sc['pontuacao_credito'].mean(), 
               "desvio_padrao": sc['pontuacao_credito'].std()},

        "RS": {"moda": float(rs['pontuacao_credito'].mode()[0]), 
               "mediana":rs['pontuacao_credito'].median(), 
               "media": rs['pontuacao_credito'].mean(), 
               "desvio_padrao": rs['pontuacao_credito'].std()},

        "PR" : {"moda": float(pr['pontuacao_credito'].mode()[0]), 
                "mediana": pr['pontuacao_credito'].median(), 
                "media": pr['pontuacao_credito'].mean(), 
                "desvio_padrao": pr['pontuacao_credito'].std()}}

In [10]:
# print the dict
state

{'SC': {'moda': 850.0,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343306},
 'RS': {'moda': 850.0,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138357},
 'PR': {'moda': 850.0,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309772}}

In [11]:
# saving in file
with open('submission.json', 'w') as f:
    json.dump(state,f)

In [12]:
# check file
f = open('submission.json')
state = json.load(f)
state

{'SC': {'moda': 850.0,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343306},
 'RS': {'moda': 850.0,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138357},
 'PR': {'moda': 850.0,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309772}}